# Pastas de compilação
bin/
obj/

# Pacotes NuGet
packages/
*.nuget.props
*.nuget.targets

# Configurações do Visual Studio / VS Code
.vs/
.vscode/
*.user
*.userosscache
*.sln.docstates

# Arquivos de log e cache
*.log
.DS_Store
.env